body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:80%;
    margin: 0 auto;
}

.navbar img {
    height: 5vh; 
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a,
.navbar ul li p,
.navbar ul li select {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.navbar ul li select {
    padding: 5px;
    font-size: 14px;
    border:none;
    background:none
}

.center li{
    margin-left:100px !important;
}

.navbar ul li img.accounts {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbar ul li p {
    margin: 0;
    display: flex;
    align-items: center;
}

i{
    margin-right: 5px;
}

.main{
    height:80vh;
    padding:58px;
    display:flex;
    margin:0 auto;
}

.account{
    background-color:#F0F8FF;
    margin-right:60px;
    width:30%;
    margin-left:300px;
    border-radius: 20px;
    /* justify-content: center;
    align-items: center;
    display:grid; */
}



.progress-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:80px;
    margin-bottom:30px
}

.progress-item {
    margin: 0 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    font-family: Outfit;
    justify-content: space-between;
}

.progress-item i {
    margin-left: 5px;
    justify-content: space-between;
}

.form{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left:70px;
}

.input-container {
    position: relative;
    width: 70%;
    margin-bottom: 15px;
}

.input-container input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-right: 5px;
    color: black;
    background-color:#D3D3D3;
}

.input-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


.login{
    color:white;
    background-color:cornflowerblue;
    padding:0 30px 0 30px;
    font-size:20px;
    border:none;
    border-radius:10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

.hr{
    border:none;
    border-top:1px solid black;
    width:80%;
    margin-top:30px
}


.product{
    background-color:#F0F8FF;
    width:25%;
    border-radius: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px
}

.prod-image{
    background-color:pink;
    height:15vh;
    align-items:center;
    justify-content:center;
    display:flex;
    overflow:hidden;
    background-color:#e0e0e0;
    margin-bottom: 10px;
}

.prod-image img{
    width:200px;
    height:200px;
    margin-top:-50px
}

.quantity{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.negative{
    background-color: #e0e0e0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
.amount{
    font-size: 20px !important;
    font-weight: bold;
}
.positive{
    background-color: #e0e0e0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.quantity-button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.quantity {
    font-size: 1em;
    font-weight: bold;
}

.discount{
    display:flex;
    align-items: center;
    margin-bottom: 40px;
}

.discount input {
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-right: 5px;
    color: black;
    background-color:#e0e0e0;
    margin-right: 10px;
}

.discount button {
    width: 21%;
    height: 40px;
    border: 2px solid cornflowerblue;
    color:cornflowerblue;
    border-radius: 10px;
    font-weight: bold;
}

.summary{
    font-size:18px
}

.summary p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}